<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>Nepal News Archive</title>

</head>
<body>
  <h1>Welcome to Nepal's Daily News Archive</h1>
  <p>Access newspapers and e-paper portals easily with a single click.</p>

  <div class="button-container">
    <ul>
    <li><a href="/portals">News Portals</a><br></li>
    <li><a href="/papers">Newspapers</a><br></li>
    <li><a href="/socials">Social Media</a><br></li>
    </ul>
  </div>
</body>
</html>